body {
	text-align: center;
}

.modal {
	display: block;
	position: fixed;
	z-index: 1;
	top: 196px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 340px; 
	height: 240px; 
	border-radius: 25px; 
	background-color: rgba(0,100,0,0.7); 
	color: #FFF;
	font-family: 'trebuchet MS';
	font-size: 1.3em;
}

.button {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	background: #495EB9;
	cursor: pointer;
	padding: 10px;
	color: #FFF;
	font-size: 1em;
	font-weight: bold;
}

.button:hover {
	color: #495EB9;
	background: #D5CABE;
	cursor: pointer;
}